<h1>New task</h1>
<p><%= link_to "Edit this task", edit_path %></p>
<p>This is your task: <br><%= @task.title %></p>
<p>Description: <br><%= @task.details %></p>
<p><%= link_to "Home", tasks_path %></p>
